{{>header}}

    <!--------------------INICIO----------------------->
    <section class="home-section" id="home">
        <div class="home-bg"></div>
        <!---Fondo en moviento-->
        <!-- <div class="container">
            <nav class="login-inicio">
                <a href="./login.html">log in</a>
                <a href="signp.html">registro →</a>
            </nav> -->
            <div class="row min-vh-100 align-items-center">
                <div class="home-text ">
                    <h1 class="mb-5"> Recetas aptas para todos </h1>
                     <p class="h1-p">Los mejores resetas celiacas y los locales con la mejor comida celiaca a la vuelta de tu casa.</p> 
                    
                </div>
            </div>
        </div>
    </section>
    <!--------------------INICIO fin----------------------->



    <!--------------------SOBRE NOSOTROS INICIO----------------------->

    <section class="about-section sec-padding" id="about">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 id="sobreNosotros"> Sobre nosotros </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-img">
                    <div class="img-box ">
                        <!-- <h3>Vivir sin tacc se puede</h3> -->
                        <img class="img-home"
                            src="https://www.65ymas.com/uploads/s1/11/56/94/bigstock-gluten-free-diet-concept-sel-291861787.jpeg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div class="about-text  mt-5 ">
                    <h3>Bienvenidos a Recetas para celíacos</h3>
                    <p>Les damos la bienvenida a nuestro blog informátivo para celiácos. En él podrán encontrar algunas recetas para hacerles la vida un poquito más sencilla. Alumnos de Programa Desde Tu Casa , reunieron sus conocimientos para desaarrollar este proyecto.  </p>
                    <a href="/desayuno" class="btn w-25 p-3 m-auto mt-3 formulario-submit ">Nuestro menú</a>
                </div>
            </div>
        </div>
    </section>
    <!--------------------SOBRE NOSOTROS FIN----------------------->


    
    {{>footer}}